/* Universal Styling */

button { 
  margin: 5px;
  width: fit-content;
}


/* Header Styling */


header {
  height: 50px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* styling for background image */
.background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}



/* Elements for size increment portion of page */


.size-increments {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.size-increments img {
  display: flex;
  margin: 10px;
  border-radius: 5px;
}

.left {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.image-attribution {
  font-size: 8px;
}


/* Styling for Gang in/Out of Mystery Machine */

.mystery-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 25px 0px;
}

.mystery-machine img {
  width: 300px;
  display: flex;
}

/* Styling for Monster Chase Parade */

.monster-chase {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.monster-chase-list {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.monster-chase img {
  height: 100px;
}

.monster-chase-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}